.Cakes {
    /* background:blue; */
    width: 98%;
    margin: 5px;
    height: 85vh;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

}
.cake_thumbnails {
    /* background:lightblue; */
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cake_thumbnails img {
    border: 7px solid black;
    /* background: green; */
    width:305px;
    height: 380px;
    margin: 20px;
    border-radius: 50%;
}
.cake_thumbnails h1{
    font-size: 25px;
    margin-top:-20px;
    color: black
}

