.Dashboard{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: space-around;
        height: 85vh;
    }
.dashboard_title {
    position: absolute;
    font-size: 30px;
    background: white;
    z-index: 1;
    padding: 5px;
    height: 6%
    }

.dropzone {
    width:30%;
    height: 25%;
    position: relative;
    left: 33%;
    border: 2px solid black;
    border-radius: 25px;
    padding-top: 20px;
    cursor: pointer;
}
.dropzone_spinner {
    position:relative;
    left: 20%;
    margin-top: -8%;
}

.dashboard_inputs {
    width:100%;
    height:85vh;
    padding: 30px;
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-around;
    }
.dashboard_inputs input {
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
    }

.dropdown_box {
    position: relative;
    margin: 12px;
    }

.dashboard_example {
    width:100%;
    height:85vh;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow:auto;
    }

.dashboard_example img {
    margin:0 auto;
}

.dashboard_example h1 {
    font-size: 25px;
    }
    
.dashboard_example_categories{
    padding: 1%;
    width:80%;
    font-size: 20px
}
.dashboard_example_desc {
    width: 80%;
    height:10vh;
    word-wrap: break-word;    
    overflow: auto;
    border: 1px solid rgb(54, 54, 54);
    padding:5px;
}

.dashboard_example img{
    object-fit: cover;
    }

.dashboard_line {
    height: 91.5%;
    width: 5px;
    color: black;
    position: absolute;
    border: solid;

}