.edit_title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }

.edit_title h1{
  font-size:30px;
  margin-top:10px;
  margin-bottom: 10px;
}
.edit_title input{
  height: 5vh;
  width: 30vw;
  margin-bottom: 10px
}

.Products {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: space-around;
	margin:7px;
	height:fit-content;
	padding-bottom: 7vh;
}


.product {

}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }