.Nav {
    background: rgb(224, 221, 221);
    height: 7vh;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    }

.nav_home_button {
    align-self: center; 
}

.nav_brand {
    position: absolute;
    top:0;
    left:0;
    margin: 15px

}

.nav_welcome_user{
    position: absolute;
    left: 44%;
    margin-top:15px;
    font-size: 20px;
}

.nav_menu_items {
    flex-direction: row;
    margin: 0px 15px;
    }

.nav_menu_items button {
    margin-left: 5px;
}