.Nav {
    background: rgb(136, 226, 226);
    height: 10vh;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    }

.nav_home_button {
    align-self: center; 
}

.nav_brand {
    position: absolute;
    top:0;
    left:0;
    margin: 15px

}
.nav_brand img:hover {
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    background-color: white
}

.nav_welcome_user{
    position: absolute;
    left: 44%;
    margin-top:15px;
    font-size: 20px;
}

.nav_menu_items {
    flex-direction: row;
    margin: 0px 15px;
    }

.nav_menu_items button {
    border-style: none;
    background: none;
    margin-left: 5px;
    font-family: 'Bad Script', cursive;
    font-size: 30px
}
.nav_menu_items button:hover {
    border-style: none;
    background: none;
    margin-left: 5px;
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    text-decoration: underline;
}

