.Nav {
    background: rgb(224, 221, 221);
    height: 5vh;
    width: 100%;
    /* position: fixed; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.nav_home_button {
    align-self: center; 
}

.nav_brand {
    position: absolute;
    margin-top: 0;
    margin-left: 47%
}

.nav_menu_items {
    flex-direction: row;
    }

.nav_menu_items button {
    margin-left: 5px;
}